# Choosing mode
text

# Use CDROM installation media
cdrom

# Initial Setup Agent on first boot
firstboot --enable

# System language
lang en_CA.UTF-8

# Keyboard layout
keyboard --xlayouts="us"

# System timezone
timezone America/Toronto --utc

# Network information
network --bootproto="dhcp" --device="link" --onboot="on"

# HOSTNAME 
network --hostname="danieldah.seclinux.lan"

# Root password - verrouillé
rootpw --lock

# User password - À CHANGER APRÈS INSTALLATION
user --name="admin" --groups="wheel" --gecos="admin" --password="password"

# Firewall configuration
firewall --enabled --ssh

# SELinux
selinux --enforcing

## Partition layout
# Vérifiez le type de disque (sda ou nvme0n1)
ignoredisk --only-use="sda"
clearpart --all --initlabel --disklabel="gpt"
autopart --nohome

# Packages
%packages
@^minimal-environment
open-vm-tools
%end

# Services
services --enabled="sshd.service,vmtoolsd.service"

# Reboot
reboot

# Enable kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%pre
%end

%post
dnf update -y
dnf install epel-release -y
%end
